#comentario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(42px);
    border-radius: 2.4rem;
    margin-bottom: 16rem;
}

#img-comentario{
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 2.4rem;
}

#comentario-text{
    font-family: "Oxygen";
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 5.5rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

#comentario-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--primary);
    opacity: 0.5;
}

