#my-project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 18.1rem;
}

#my-project-text{
    width: 44.9rem;
}

#my-project-img{

}

#btn-ver-proyecto{
    margin-right: 1rem;
}

#iphone-x{
    position: relative;
    right: 660px;
    bottom: 15px;
}